{% extends "layout.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block main %}
    <form action="/change_password" method="post">
        <div class="mb-3">
            <input required id="old_password" class="form-control mx-auto w-auto" name="old_password" placeholder="Old Password" type="password">
        </div>
        <div class="mb-3">
            <input required id="new_password" class="form-control mx-auto w-auto" name="new_password" placeholder="New Password" type="password">
        </div>
        <div class="mb-3">
            <input required id="confirmation" class="form-control mx-auto w-auto" name="confirmation" placeholder="Confirm Password" type="password">
        </div>
        <button id="reg-btn" class="btn btn-primary" type="submit">Change Password</button>
    </form>
{% endblock %}

{% block script %}
<script>
    const password_input = document.getElementById("new_password")
    const confirmation_input = document.getElementById("confirmation")
    const reg_button = document.getElementById("reg-btn")

    confirmation_input.addEventListener("input", () => {
        if (password_input.value === confirmation_input.value)
        {
            reg_button.disabled = false
        }
        else
        {
            reg_button.disabled = true
        }
    })
</script>
{% endblock %}
