{% extends "layout.html" %}

{% block title %}
Sell Stock
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select name="symbol" required>
            <option disabled selected="selected">Choose a Stock</option>
            {% for stock in stocks %}
                {% if stock["shares"] > 0 %}
                    <option value='{{ stock["symbol"] }}'>{{ stock["symbol"] }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input id="number" type="number" min="1" step="1" name="shares" required placeholder="Number of Shares">
        <button type="submit">Sell</button>
    </form>
{% endblock %}

{% block script %}
<script>
    const number_input = document.getElementById("number")
    let str = ''
    number_input.addEventListener("input", (event) => {
        if (!event.target.value)
        {
            event.target.value = str
        }
        else
        {
            str = event.target.value
        }
    })
</script>
{% endblock %}
